@charset "UTF-8";

ul{
    margin:0px;
    padding:5px 0px 5px 20px; 
    list-style:none;
}

ul li {
    line-height:25px;
}

pre {
    border: 1px solid #BBB;
    background:#002b36;
    color:#93a1a1;
    border-radius:6px;
    margin:5px 0px 15px 0px;
}

.s, .nl, .c1 {
    color:#93a1a1;
    font-style:normal;
    font-weight:normal;
}

.cp {
    color:#b58900;
}

#footer {
    width:815px;
    font-size:12px;
    color:#888;
    text-shadow:#d9d9d9 0 1px;
    background:#ccc linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
    border-top:1px solid #bfbfbf;
    position:relative;
    padding:1em 0em;
    margin:0px auto;
    margin-bottom:3em;
    border-bottom-left-radius:0.4em;
    border-bottom-right-radius:0.4em;
}

.container{ 
    position:relative;
    width:735px;
    padding:20px 40px;
    margin:0 auto;
    margin-top:10px;
    background-color:#f2f2f2;
}


.wrap{
    position: relative;
    border-top: 1px dotted #ddd;
}

.tags_nav {
    padding: 30px 0px;
    padding-bottom: 0px;
}

.tags_nav a {
    display: inline-block;
    margin: 0px 3px 5px 0px;
    border: 1px solid #CCC;
    padding: 0px 8px;
    border-radius: 5px;
    line-height:18px;
}

.archive{
    position:relative;
    padding:0px;
    list-style:none;
    font-size:12px;
    margin:0px;
    padding-top:15px;
}

.date {
    margin-right:20px;
}

.tags{
    float:left;
    margin-top:10px;
}

.tags a{
    border: 1px solid #E4E4E4;
    padding: 3px 6px;
    border-radius: 5px;
    font-size:13px;
    color:#666;
}

.tags a:hover{
    color:#e60900;
}

.site{
    position: relative;
    padding:10px 0px;
}

.site .nav { 
    float:right;
    list-style:none;
    padding:0px;
    margin-top:3px;
}


.site .nav li {
    float:left;
    margin-left:12px;
}
.site .nav li a {
    color:#000;
    font-size:14px;
}

.site .nav li a:hover {
    text-decoration:underline;
}


.site .hr{
    height:0;
    margin: 30px -10px;
    border-bottom: 1px solid #fafafa;
    border-top: 1px solid #e0e0e0;

}

.site h1{
    font-weight: normal;
}

.site h1 a{
    font-size: 35px;
    height: 40px;
    font-weight: bold;
    font-variant: small-caps;
    font-family:Palatino, georgia, "times new roman", serif;
}


/* entry */

.entry{
    margin: 0px;
    padding: 20px 0px;
    position: relative;
}



.entry .title{
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    line-height:40px;
    color:#000;
    font-family:'lucida grande', sans-serif;
}

.entry .title a{
    color:#000;
}


.entry .title a:hover{
    color: darkgreen;
}


.entry .content{
    padding: 20px 0px;
    position: relative;
}

.entry .user_cover{
    display:none;
    position: absolute;
    left:45%;
    top:20px;
    width:48px;
    height:48px;
    overflow: hidden;
    -webkit-box-shadow:rgba(0,0,0,.5) 1px 1px 3px;
    -moz-box-shadow:rgba(0,0,0,.5)  1px 1px 3px;
    box-shadow:rgba(0,0,0,.5)  1px 1px 3px;
}

.entry .user_cover img{
    width: 48px;
    height: 48px;
}

.entry .created{
    float:right;
    position: relative;
    font-size: 12px;
    color: #999;
    top:12px;
}


.entry .content p{
    padding-bottom:5px;
    position:relative;
    line-height:25px;
    font-size: 14px;
}

.entry .content p a{
    color:#339;
    text-decoration:none;
    border-bottom:0px;
}

/* basic */
body, ol, li, p, h1,h2, h3, h4, h5, h6, form, blockquote, dl, dd, dt{
margin:0;
padding:0;
}

a {
    color:#000;
    text-decoration: none;
}

body{
font-size:12px;
font-family:微软雅黑,Palatino, georgia, "times new roman", serif;
line-height:1.7em;
color:#000;
background: #000 url(image/bg-black.png) repeat left;
}

.hidden{display:none;}

.clear {clear:both;width:0;height:0}


.pager {
    text-align: center;
    margin: 0px;
    padding:10px 0px;
    position: relative;
    height: 30px;
    background:#fff;
}


.pager a{
    color: #f55e79;
    font-size: 14px;
    line-height: 2.2;
    text-align: center;
    padding: 0 10px;
    background: rgba(200,200,200,0.5);
}


.pager a:hover{
    color: #f51a30;
    text-decoration: underline;
    border-radius: 3px;

}

.pager .next{
    right:10px;
    position: absolute;
}

.pager .pre{
    left:10px;
    position: absolute;
}


#footer .powered_by{
    margin-bottom:0px;
}
.powered_by{
    text-align: center;
    left:45%;
    bottom:0;
}

.powered_by a{
    color:#999;
    font-size: 10px;
}
.powered_by a:hover{
    color:#E60900;
}


.powered_by span{
    color:#666;
}

h2{
    margin-bottom:10px;
    font-weight:bold;
}


